/* By Default CSS */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none !important;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
img,
li,
.apps-details {
    cursor: pointer;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 300px;
    background: #070013b8;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px #250f0f;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:nth-child(3),
#context-menu .item:nth-child(4),
#context-menu .item:nth-child(6),
#context-menu .item:nth-child(7) {
    border-bottom: 1px solid #dee2e62e !important;
}

#context-menu .item:hover {
    background: #343434;
}
.w-65{
    width: 65% !important;
}